body {
	background-color: #edeaea;
}

.top-logo {
	margin-top: 40px;
}

.top-heading {
	margin-top: 20px;
	margin-bottom: 40px;
}

.bottom-footer {
	margin-top: 80px;
}

.avatar {
	height: 86px;
	width: 86px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
}
